h1
  span.active Definition
  span &raquo; Visualization

.box.warning A blob is a collection

form(href= '', method= 'POST')
  fieldset.general
    .field
      label(for= 'blob_name') Blob name
      input(type= 'text', name='blob[name]', id= 'blob_name', placeholder= 'People, Events, Jazz records ...')
    .field
      label(for= 'blob_item_name') Item name
      input(type= 'text', name='blob[item_name]', id= 'blob_item_name', placeholder= 'Person, Event, Disc ...')
    .clearer

  fieldset.types_from
    ul
      - each type in self.types
        li.type
          a(href='#', class= type)
            img(src= '/images/types/' + type + '.png', alt= type)
            = type.replace('_', ' ').replace(/^\w/, function($0) { return $0.toUpperCase(); })

  fieldset.types_to
    ul
      li.type
        img.type(src= '/images/types/short_text.png', alt= 'Short text')
        span.value
        input.type(type= 'hidden', name= 'blob[items][type]', value= 'short_text')
        input.value(type= 'text', name= 'blob[items][value]', value= '')
    input.submit(type= 'submit', value= 'Next')
  .clearer

