h1
  span.active Definition
  span &raquo; Visualization

.box.warning A blob is a collection

form(href= '', method= 'POST')
  fieldset.general
    .field
      label(for= 'blob_name')
        input(type= 'text', name='blob[name]', id= 'blob_name', placeholder= 'People, Events, Jazz records ...')
    .field
      label(for= 'blob_item_name')
        input(type= 'text', name='blob[item_name]', id= 'blob_item_name', placeholder= 'Person, Event, Disc ...')

  fieldset.types_from
    - each type in self.types
      a(href='#', class= type)
        img(src= '/static/images/types/' + type, alt= type)
        = type.replace('_', ' ').replace(/^\w/, function($0) { return $0.toUpperCase(); })

  fieldset.types_to
    .type
      .drag
        img(src= '', alt= '')
        span.value
        input.value(type= 'text', name= '')

  input(type= 'submit', value= 'Next')