- var acceptable = ['picture', 'short_text'];

h1= self.blob.name

ul
  - each item in self.items
    - var fields = self.filterFields(item, ['short_text', 'picture'])
    li
      a(href= '/items/' + item.id)
        img(src= (fields[1] ? fields[1]..value : '/images/default_picture.png'))
        div.title= fields[0].value
