a.button.create(href= '/blobs/' + self.blob.id + '/items/create') Create a #{self.blob.itemName}

- if (self.items.length)
  - var acceptable = ['picture', 'short_text'];
  - var fields = self.filterFields(self.items[0], acceptable)

  h1= self.blob.name  

  != self.renderFilters(fields)

  ul#container
    - each item in self.items
      - var fields = self.filterFields(item, acceptable)
      li.item
        a(href= '/items/' + item.id)
          img(src= (fields[0] ? fields[0].value : '/images/default_picture.png'), width= 140)
          div.title= fields[1] ? fields[1].value : ''
  .clearer
- else
  .box.warning This blob doesn't contain any #{self.blob.itemName}
