a.button.create(href= '/blobs/' + self.blob.id + '/items/create') Create a #{self.blob.itemName}

- if (self.items.length)
  - var acceptable = ['short_text', 'rich_text', 'date', 'duration', 'number', 'multiple_choice', 'single_choice'];
  - var fields = self.filterFields(self.items[0], ['short_text', acceptable])

  h1= self.blob.name

  != self.renderFilters(fields)

  ul.grid
    - each item, i in self.items
      - var fields = self.filterFields(item, ['short_text', acceptable])
      li(class= i % 5 === 0 ? 'first' : '')
        a(href= '/items/' + item.id)
          = self.truncate(fields[0].value, 30)
        p= self.truncate(fields[1] ? fields[1].value : '', 120)
- else
  .box.warning This blob doesn't contain any #{self.blob.itemName}
