- // HARDCODED
- var blob = {_id: 12, name: 'People'}
- var fields = ['Name', 'Credits', 'Hackaton hours']
- var items = [{_id: 1, fields: [{name: 'Name', value: 'Pau Ramon', type: 'short_text'}, {name: 'Credits', value: 42, type: 'number'}, {name: 'Hackaton hours', value: 36000, type: 'duration'}]}]

h1= blob.name

table
  - each field in fields
    tr
      th
        = field.toLowerCase()
        a.arrow(href= '#')

  - each item in items
    tr
      - each field in fields
        td= self.getField(item, field).value
