- var acceptable = ['short_text', 'date', 'duration', 'number', 'multiple_choice', 'single_choice', 'link'];
- var fields = self.filterFields(self.items[0], ['short_text', acceptable, acceptable, acceptable, acceptable])

h1= self.blob.name

#filters
  #full_text
    a.arrow(href= '#')
    input(type= 'text', placeholder= 'Searching')
  #advanced
    - each field in fields
      .field
        != self.renderFormField(field)

table
  tr
  - each field in fields
    th
      = field.name.toLowerCase()
      a.arrow(href= '#')

  - each item in self.items
    tr
      - each field in fields
        td= field.value
