- // HARDCODED
- var blob = {_id: 12}
- var canUseVisualization = function () {return true;}

h1
  span Definition
  span.active &raquo; Visualization

.box.warning Choose a template to represent your blob

form(href= '/api/blobs/' + blob._id + '/view', method= 'POST')

  - // HARDCODED
  - var visualizations = ['grid', 'tabular', 'map', 'gallery']

  fieldset.types_from(class= canUseVisualization ? 'enabled' : 'disabled')
    - each visualization in visualizations
      a(href='#', class= visualizations)
        img(src= '/static/images/visualizations/' + visualization, alt= visualization)
        = visualization.replace('_', ' ').replace(/^\w/, function($0) { return $0.toUpperCase(); })

      input(type= 'submit', value= 'Choose')
