- // HARDCODED
- var canUseView = function () {return true;}
- var blob = self.blob

h1
  span.inactive Definition
  span &raquo; View

.box.warning Choose a template to represent your blob

form(href= '/api/blobs/' + blob.id + '/view', method= 'POST')

  - // HARDCODED
  - var views = ['grid', 'tabular', 'map', 'gallery']

  - var descriptions = {grid: 'A grid is a great way to see a quick overview of you app items, it work best for apps with no many types and non numeric data.', tabular: 'Tables are great way to analyze data, if you need to be able to look into the data find patters, reorder the columns the table is the way to go.', map: 'Maps are a great way to view location based data. Zoom in, look at the neibourhood or get a good overview your items acroos the world.', gallery: 'The pictire gallery is a great way to display a the head shots of you emplyees in a HR app, or the team members of you local soccer team.'}

  ul
    - each view in views
      li.view(style= blob.availableViews.indexOf(view) > -1 ? '' : 'opacity: 0.4')
        img(src= '/images/views/' + view + '.png', alt= view)
        input.radio(type= 'radio', value= view, name= 'blob[view]')
        strong= view.replace('_', ' ').replace(/^\w/, function($0) { return $0.toUpperCase(); })
        p= descriptions[view]

        input.button(type= 'submit', value= 'Choose')
