- // HARDCODED
- var blob = {id: 12}
- var canUseView = function () {return true;}

h1
  span Definition
  span.active &raquo; View

.box.warning Choose a template to represent your blob

form(href= '/api/blobs/' + blob.id + '/view', method= 'POST')

  - // HARDCODED
  - var views = ['grid', 'tabular', 'map', 'gallery']

  - var descriptions = {grid: 'The OpenType versions of Pacifico and Pacifico Alternate use ligature features to substitute unique glyphs when any upper or lower case character is keyed twice in a row.', tabular: 'The OpenType versions of Pacifico and Pacifico Alternate use ligature features to substitute unique glyphs when any upper or lower case character is keyed twice in a row.', map: 'The OpenType versions of Pacifico and Pacifico Alternate use ligature features to substitute unique glyphs when any upper or lower case character is keyed twice in a row.', gallery: 'The OpenType versions of Pacifico and Pacifico Alternate use ligature features to substitute unique glyphs when any upper or lower case character is keyed twice in a row.'}

  ul
    - each view in views
      li.view
        img(src= '/images/views/' + view + '.png', alt= view)
        input.radio(type= 'radio', value= view, name= 'blob[view]')
        strong= view.replace('_', ' ').replace(/^\w/, function($0) { return $0.toUpperCase(); })
        p= descriptions[view]

        input.button(type= 'submit', value= 'Choose')
