h1 Start creating your own apps today.

h1 Building web apps have never been easier.<br>Try it out, it&apos;s simple.

a.button.big(href= '/blobs/create') Create an app
.clearer

.framed.grid
  img(src = '/images/grid.png')
.framed.create
  img(src = '/images/create.png')
.clearer
