h1 Start creating your own apps today.

h1 Building web apps have never been easier.<br>Try it out by first defining your blob.

img(src = '/images/grid.png')
img(src = '/images/create.png')
a.button.big(href= '/blobs/create') Create an app
.clearer
