- // HARDCODED
- var blob = {_id: 12, types: [{name: 'Name', type: 'short_text'}, {name: 'Description', type: 'rich_text'}, {name: 'Avatar', type: 'picture'}]}

h1 Create item

form(action= '/blobs/' + blob._id + '/items', method= 'POST')
  fieldset
    - each type in blob.types
      != self.renderFormField(type)

  .operations
    input.button(type= 'submit', value= 'Create')
