h1
  a(href= '/items/' + self.item.id) #{self.truncate(self.item.fields[0].value, 20)} 
  | &raquo; Edit item

form(action= '/api/items/' + self.item.id, method= 'POST')
  fieldset
    - each field in self.item.fields
      .field
        != self.renderFormField(field, field.value)

  .operations
    input.button.submit(type= 'submit', value= 'Edit')
