h1 Edit item

form(action= '/items/' + self.item.id + '/edit', method= 'POST')
  fieldset
    - each field in self.item.fields
      .field
        != self.renderFormField(field, field.value)

  .operations
    input.button.submit(type= 'submit', value= 'Create')
