- // HARDCODED
- var blob = {_id: 12, types: [{name: 'Name', type: 'short_text'}, {name: 'Description', type: 'rich_text'}, {name: 'Avatar', type: 'picture'}]}
- var item = {_id: 1, fields: [{name: 'Name', value: 'Pau Ramon', type: 'short_text'}, {name: 'Description', value: 'Lorem Ipsum crap', type: 'rich_text'}, {name: 'Avatar', value: '/images/default_picture.png', type: 'picture'}]}

h1 Create item

form(action= '/blobs/' + blob._id + '/items', method= 'POST')
  fieldset
    - each type in blob.types
      != self.renderFormField(type, self.getField(item, type.name).value)

  .operations
    input.button(type= 'submit', value= 'Create')
