- var fields = self.filterFields(self.item, ['short_text'])
h1= fields[0].value
a.button.edit(href= '/items/' + self.item.id + '/edit') Edit

ul
  - each field in self.item.fields
    li.field
      h2= field.name
      .content!= self.renderField(field)
.clearer
