- var fields = self.filterFields(self.item, ['short_text'])
h1
  a(href= '/blobs/' + self.blob.id) #{self.truncate(self.blob.name, 20)} 
  | &raquo; 
  = fields[0].value
a.button.edit(href= '/items/' + self.item.id + '/edit') Edit

ul
  - each field in self.item.fields
    li.field
      h2= field.name
      .content!= self.renderField(field)
.clearer

div#disqus_thread
script(type= 'text/javascript')
  var disqus_shortname = 'apply';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

noscript
  | Please enable JavaScript to view the 
  | a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.

a(href="http://disqus.com", class="dsq-brlink")
  | blog comments powered by 
  span(class="logo-disqus") Disqus
