@import "./static/style/variables"
@import "./static/style/mixins"

#content
  position: relative

  .button.edit
    position: absolute
    top: 0px
    right: 0px
    padding: 10px 50px

ul
  margin-left: -30px
  margin-top: 50px

  li.field
    width: 465px
    margin-left: 30px
    margin-bottom: 20px
    float: left
    padding-bottom: 20px
    border-bottom: 2px solid $p_lightest

    ul
      margin-left: -30px

    .content
      color: $p_medium
      font-size: 14pt

    h2
      margin-bottom: 5px
