.button
  padding: 20px 60px
  background: $s_medium url(/images/button.png) repeat-x top left
  border: 2px solid $s_medium
  font-size: 18pt
  color: #fff
  display: inline-block
  line-height: 26px
  box-shadow: 3px 3px 0px lighten($s_light, 10)
  text-shadow: -1px -1px 0px darken($s_medium, 8)
  cursor: pointer

  &.create
    position: absolute
    top: 10px
    right: 0px
    padding: 5px 20px
    font-size: 13pt

  &.js_file
    font-size: 13pt
    padding: 5px 20px

    &:hover
      text-decoration: none

  &:hover
    border: 2px solid darken($s_medium, 10)
    text-decoration: underline

#filters
  position: relative
  top: -50px
  padding-top: 60px

  #full_text
    position: absolute
    top: 0
    right: 0
    border: 1px solid $p_light
    background: #f6f7f8
    padding: 10px
    z-index: 2

    input
      box-shadow: 1px 1px 1px lighten($p_light, 5) inset
      border: 1px solid $p_light
      padding: 10px 17px
      padding-left: 40px
      font-size: 11pt
      color: $p_dark
      background: #fff url(/images/search.png) no-repeat 7px 7px;
      vertical-align: middle

    a.arrow
      background: url(/images/arrow.png) no-repeat 0px 12px
      display: inline-block
      padding-right: 15px
      width: 15px
      height: 30px
      vertical-align: middle

  #advanced
    display: none
    position: relative
    top: -1px
    background: #dbdbdc url(/images/metalic.png) repeat-x top left
    border: 1px solid $p_light
    padding: 20px 20px 10px 20px

    .field
      padding-left: none
      border-left: none
      display: inline-block
      margin-right: 50px

  &.open #full_text
    border-bottom: none

  &.open #advanced
    display: block

th.header
  cursor: pointer

  .arrow
    display: none

  &:hover .arrow
    display: block
    opacity: 0.5

  &.headerSortUp .arrow, &.headerSortDown .arrow
    display: block
    opacity: 1

  &.headerSortUp .arrow
    background: url(/images/arrow.png) no-repeat top left
