.button
  padding: 20px 60px
  background: $s_medium url(/images/button.png) repeat-x top left
  border: 2px solid $s_medium
  font-size: 18pt
  color: #fff
  display: inline-block
  line-height: 26px
  box-shadow: 3px 3px 0px lighten($s_light, 10)
  text-shadow: -1px -1px 0px darken($s_medium, 8)
  cursor: pointer

  &.js_file
    font-size: 13pt
    padding: 5px 20px

    &:hover
      text-decoration: none

  &:hover
    border: 2px solid darken($s_medium, 10)
    text-decoration: underline
