form
  width: 100%

  fieldset
    margin: 0
    padding: 0
    border: none
    margin-bottom: 20px

  h2
    margin-bottom: 20px

  .field
    margin: 0px 0px 20px 0px
    padding-left: 10px
    border-left: 4px solid lighten($q_medium, 10)

    &.inline
      display: inline-block
      margin-right: 80px

  label
    display: block
    cursor: pointer
    font-size: 13pt
    color: $p_dark
    margin-bottom: 5px

    input[type="checkbox"]
      vertical-align: top

  input,
  textarea
    box-shadow: 1px 1px 1px lighten($p_light, 5) inset
    border: 1px solid $p_light
    padding: 10px 17px
    font-size: 11pt
    color: $p_dark

  input[type=file]
    box-shadow: none
    border: none

    &:hover
      border-color: $p_dark

    &:focus
      border-color: $p_dark

  textarea
    width: 468px

  ::-webkit-input-placeholder
    color: $p_light

  :-moz-placeholder
    color: $p_light

  .operations
    width: $fieldset-width
    text-align: right
    margin-bottom: 20px
