@import "./static/style/reset"
@import "./static/style/variables"
@import "./static/style/mixins"

body
  font-family: Helvetica, Arial, sans-serif
  font-size: 11pt
  color: $p_darkest
  background: #fff

h1
  font-size: 24pt
  font-weight: normal
  margin: 0px 0px 20px
  color: $p_dark

h2
  font-size: 24pt
  font-weight: 400
  color: $p_dark
  text-shadow: 0px 1px 0px #fff
  font-family: Raleway, Helvetica, Arial, sans-serif
  font-weight: 100

h3
  font-size: 14pt
  font-weight: 400
  color: $p_dark
  margin-bottom: 20px

a
  color: $link
  text-decoration: none

  &:hover
    text-decoration: underline

p
  margin-bottom: 10px

table
  width: 100%
  font-size: 10pt

  tr
    th, td
      text-align: left
      padding: 10px

    th
      position: relative
      font-size: 13pt
      text-shadow: 0px 1px 0px #fff
      background: url(/images/metalic.png) repeat-x top left;
      border: 2px solid darken($p_lightest, 3)
      padding-right: 25px

      .arrow
        position: absolute
        top: 15px
        right: 10px
        background: url(/images/arrow.png) no-repeat top left;
        width: 15px
        height: 8px

    td
      background: #fff
      border: 2px solid darken($p_lightest, 3)

.floated
  float:left

.clearer
  clear: both

@import "./static/style/layout"
@import "./static/style/elements"
@import "./static/style/boxes"
@import "./static/style/forms"
