/* colors */
$p_lightest = #F4F4F4
$p_light = #BBBBBC
$p_medium = #8F9193
$p_dark = #58595B
$p_darkest = #58595B

$s_light = #ADDDD9
$s_medium = #8ED2CB
$s_dark = #54948E

$q_medium = #FCF5A9

$link = #00B7FF

/* networks */
$twitter_bg = #8fd4e3
$linkedin_bg = #6cb9d9
$facebook_bg = #2c4f99
$klout_bg = #e44803

/* sizes */
$fieldset-width = 490px

/* boxes */
$error =   #E87
$warning = #FFF9CC
$warning-text = #998
$info =    #9E8
