ul
  margin-left: -36px

  li.visualization
    display: inline-block
    margin-left: 36px
    width: 213px

    strong
      margin: 10px 0px
      display: block
      font-size: 18pt

    input.radio
      display: none

    input.button
      display: block
      padding: 10px 60px
      margin-top: 20px
